Repository Vhoyon/Discord-Bot, pull requests merged in 2018-07, with the labels that each got.

#99 Add confirm_stop setting for StopCommand
  framework/vendor/utilities/settings/Setting.java
  framework/vendor/utilities/settings/SettingField.java
  src/app/CommandRouter.java
  src/commands/CommandSetting.java
  src/commands/CommandStop.java
  src/utilities/BotCommand.java
  src/utilities/interfaces/Resources.java
Labels: Priority: Low, settings

#100 Add TextRegexField setting type
  framework/vendor/utilities/settings/TextRegexField.java
Labels: Feature Request: Framework, Priority: Low

#101 Invert behavior of help command to not show commands desc. by default
  framework/vendor/abstracts/CommandsLinker.java
  src/commands/CommandHelp.java
Labels: Enhancement: Commands, Priority: Low, optimization

#102 Add volume setting
  src/commands/CommandMusicVolume.java
  src/commands/CommandSetting.java
  src/utilities/interfaces/Resources.java
  src/utilities/music/MusicPlayer.java
Labels: Feature Request: Commands, Priority: Low, settings

#104 Add links between provided parameters definitions
  framework/vendor/abstracts/AbstractBotCommand.java
  framework/vendor/abstracts/AbstractCommandRouter.java
  framework/vendor/objects/Request.java
  src/app/CommandRouter.java
Labels: Enhancement: Framework, Priority: Medium, tested

#107 Add convertion from special format for variables to replacement friendly
  framework/vendor/objects/Dictionary.java
  res/lang/strings_en_US.properties
  res/lang/strings_fr_CA.properties
  src/app/CommandRouter.java
  src/commands/CommandGameAdd.java
  src/commands/CommandGameRemove.java
  src/commands/CommandGameRoll.java
  src/commands/CommandHelp.java
  src/commands/CommandLanguage.java
  src/commands/CommandMusicList.java
  src/commands/CommandMusicSkip.java
  src/commands/CommandSpam.java
  src/commands/CommandStop.java
  src/utilities/music/MusicManager.java
Labels: Enhancement: Framework, Priority: Low, language, verified

#108 [WIP] Add Mention object and methods to get the contents as a Mention object
  framework/vendor/abstracts/AbstractBotCommand.java
  framework/vendor/interfaces/DiscordUtils.java
  framework/vendor/objects/Mention.java
Labels: Enhancement: Bot, Enhancement: Framework, Priority: Medium, verified

#111 Add user parameter feature to CommandSpam
  src/commands/CommandSpam.java
Labels: Feature Request: Commands, Priority: Low, optimization, verified

#109 Allow to search youtube with key words
  pom.xml
  res/lang/strings_en_US.properties
  res/lang/strings_fr_CA.properties
  src/commands/CommandMusicPlay.java
Labels: Enhancement: Commands, Priority: Medium, Requires : Testing

#112 Add replay command
  res/lang/strings_en_US.properties
  res/lang/strings_fr_CA.properties
  src/commands/CommandMusicPlay.java
  src/commands/CommandMusicReplay.java
  src/utilities/abstracts/MusicCommands.java
  src/utilities/interfaces/Commands.java
  src/utilities/music/AudioListener.java
Labels: Feature Request: New Command, Priority: Low

#115 Tweak play command to not search youtube if no env var is set
  src/commands/CommandMusicPlay.java
Labels: !Enhancement: Commands, !Priority: Medium, !Requires: Testing, ~music

#119 Add content-less parameters handling
  framework/vendor/objects/ParametersHelp.java
  framework/vendor/objects/Request.java
  src/app/CommandRouter.java
Labels: !Feature Request: Framework, !Priority: Low, *verified, ~request

#120 Add the ability to play a random playlist
  res/lang/strings_en_US.properties
  res/lang/strings_fr_CA.properties
  src/commands/CommandMusicPlay.java
Labels: !Feature Request: Commands, !Priority: Low, !Requires: Testing
