Repository Vhoyon/Discord-Bot, pull requests merged in 2018-08, with the labels that each got.

#126 Update input after little delay on Terminal log() calls (#5)
  framework/vendor/abstracts/AbstractTerminalConsole.java
Labels: !Priority: Low, *verified, bug

#131 Fix any System.out calls to trigger the input update when using AbstractTerminalConsole
  framework/vendor/abstracts/AbstractTerminalConsole.java
  framework/vendor/consoles/utils/UpdatableOutputStream.java
Labels: !Enhancement: Framework, !Priority: Low, *verified, bug

#96 Add initial Unit tests
  .classpath
  framework/vendor/utilities/settings/SettingField.java
  pom.xml
  src/commands/CommandMusicVolume.java
  tests/testingutils/MockFactory.java
  tests/tests/utilities/BotCommandTest.java
Labels: !Priority: Medium, ~tests

#137 Add Sanitizers utilities
  framework/vendor/utilities/sanitizers/BooleanSanitizer.java
  framework/vendor/utilities/sanitizers/CharSanitizer.java
  framework/vendor/utilities/sanitizers/EnumSanitizer.java
  framework/vendor/utilities/sanitizers/IntegerSanitizer.java
  framework/vendor/utilities/sanitizers/TextLengthSanitizer.java
  framework/vendor/utilities/sanitizers/TextNotEmptySanitizer.java
  framework/vendor/utilities/sanitizers/TextRegexSanitizer.java
  framework/vendor/utilities/sanitizers/TextSanitizer.java
  framework/vendor/utilities/settings/BooleanField.java
  framework/vendor/utilities/settings/CharField.java
  framework/vendor/utilities/settings/EnumField.java
  framework/vendor/utilities/settings/IntegerField.java
  framework/vendor/utilities/settings/TextField.java
  framework/vendor/utilities/settings/TextLengthField.java
  framework/vendor/utilities/settings/TextNotEmptyField.java
  framework/vendor/utilities/settings/TextRegexField.java
Labels: !Feature Request: Framework, !Priority: Low, *verified

#139 Refactor CommandClear to allow for easier condition management
  src/commands/CommandClear.java
Labels: !Enhancement: Commands, !Priority: Medium, ~optimization

#148 Change prefix from "!!" to "\"
  src/utilities/interfaces/Resources.java
Labels: !Enhancement: Bot, !Priority: Low, *verified

#151 Fix bug with clear for user not clearing
  src/commands/CommandClear.java
Labels: !Priority: High, *verified, bug

#152 add the ability to notify of the clear action
  src/commands/CommandClear.java
Labels: !Feature Request: Commands, !Priority: Low, *verified

#153 Change exception handling of sanitizers to BadFormatException for clarity
  framework/vendor/exceptions/BadFormatException.java
  framework/vendor/utilities/sanitizers/BooleanSanitizer.java
  framework/vendor/utilities/sanitizers/CharSanitizer.java
  framework/vendor/utilities/sanitizers/EnumSanitizer.java
  framework/vendor/utilities/sanitizers/TextLengthSanitizer.java
  framework/vendor/utilities/sanitizers/TextNotEmptySanitizer.java
  framework/vendor/utilities/sanitizers/TextRegexSanitizer.java
  framework/vendor/utilities/sanitizers/TextSanitizer.java
  framework/vendor/utilities/settings/Setting.java
  framework/vendor/utilities/settings/SettingField.java
  src/commands/CommandSetting.java
  src/utilities/BotCommand.java
Labels: !Enhancement: Framework, !Priority: Low, *verified, ~optimization

#156 Refactor CommandSetting, allowing more flexibility in param actions
  src/commands/CommandSetting.java
Labels: !Enhancement: Commands, !Priority: Medium, *verified, ~optimization, ~settings

#165 Add invert parameter to CommandClear
  src/commands/CommandClear.java
Labels: !Feature Request: Commands, !Priority: Low, *verified, ~command parameter, ~management-textchannel
