Repository Vhoyon/Discord-Bot, pull requests merged in 2018-10, with the labels that each got.

#192 Tweak CommandClear to allow for adding multiple conditions on a message
  src/main/java/io/github/vhoyon/bot/app/CommandRouter.java
  src/main/java/io/github/vhoyon/bot/commands/CommandClear.java
  src/main/resources/lang/strings_en_US.properties
Labels: !Enhancement: Commands, !Priority: Medium, *verified, ~command parameter, ~management-textchannel

#197 Fixes the youtube search when to only find videos
  src/main/java/io/github/vhoyon/bot/commands/CommandMusicPlay.java
Labels: !Priority: Medium, *verified, bug

#199 A confirmation when a user tries to add a random playlist to the queue
  src/main/java/io/github/vhoyon/bot/commands/CommandMusicPlay.java
  src/main/java/io/github/vhoyon/bot/utilities/music/MusicManager.java
Labels: !Feature Request: Commands, !Priority: Low, !Requires: Testing, ~music

#200 A check to see if the bot is already playing in an other voicechannel
  src/main/java/io/github/vhoyon/bot/commands/CommandMusicPlay.java
Labels: !Feature Request: New Command, !Priority: Medium, !Requires: Testing

#201 Update CommandRouter to the latest version of Vramework
  src/main/java/io/github/vhoyon/bot/app/CommandRouter.java
Labels: !Feature Request: Framework, !Priority: High, bug, ~dependencies
