Repository Vhoyon/Discord-Bot, pull requests merged in 2018-06, with the labels that each got.

#69 Add the possibility to send help in text channel
  src/commands/CommandHelp.java
Labels: Feature Request: Commands, Priority: Medium

#70 [WIP] Add a Setting behavior to the Framework
  framework/vendor/exceptions/BadFormatException.java
  framework/vendor/interfaces/Callback.java
  framework/vendor/objects/Buffer.java
  framework/vendor/utilities/settings/BooleanField.java
  framework/vendor/utilities/settings/IntegerField.java
  framework/vendor/utilities/settings/Setting.java
  framework/vendor/utilities/settings/SettingField.java
  framework/vendor/utilities/settings/TextField.java
  framework/vendor/utilities/settings/TextNotNullField.java
  src/app/CommandRouter.java
  src/commands/CommandSetting.java
  src/utilities/BotCommand.java
  src/utilities/interfaces/Resources.java
Labels: Feature Request: Framework, Priority: Medium

#72 [WIP] Add !!loop command
  res/lang/strings_en_US.properties
  src/app/BotCommandsLinker.java
  src/commands/CommandMusicList.java
  src/commands/CommandMusicLoop.java
  src/commands/CommandMusicPause.java
  src/commands/CommandMusicPlay.java
  src/commands/CommandMusicSkip.java
  src/commands/CommandMusicVolume.java
  src/utilities/abstracts/MusicCommands.java
  src/utilities/interfaces/Commands.java
  src/utilities/music/AudioListener.java
  src/utilities/music/MusicManager.java
  src/utilities/music/MusicPlayer.java
Labels: Feature Request: New Command, Priority: Medium

#82 Optimize setting new volume for MusicPlayer
  src/commands/CommandMusicVolume.java
  src/utilities/music/MusicPlayer.java
Labels: Enhancement: Bot, Priority: Medium

#89 Add Discord text formatting utilities to the Framework
  framework/vendor/abstracts/AbstractBotCommand.java
  framework/vendor/utilities/formatting/DiscordFormatter.java
  src/app/BotCommandsLinker.java
  src/utilities/interfaces/Commands.java
Labels: Enhancement: Framework, Priority: Medium

#91 Add README.md
  README.md
Labels: Priority: Medium

#92 Improve emoji support
  framework/vendor/interfaces/Emojis.java
Labels: Enhancement: Framework, Priority: Low
