Repository Vhoyon/Discord-Bot, pull requests merged in 2018-12, with the labels that each got.

#202 Tweak CommandTimer to run in background by default
  src/main/java/io/github/vhoyon/bot/app/CommandRouter.java
  src/main/java/io/github/vhoyon/bot/commands/CommandTimer.java
  src/main/java/io/github/vhoyon/bot/utilities/interfaces/PartiallyParallelRunnable.java
  src/main/resources/lang/strings_en_US.properties
Labels: !Enhancement: Commands, !Feature Request: Commands, !Priority: Low, *verified, bug, ~command parameter

#205 Add's the clearing of the commands that start with a prefix
  src/main/java/io/github/vhoyon/bot/commands/CommandClear.java
  src/main/resources/lang/strings_en_US.properties
Labels: !Enhancement: Commands, !Priority: Medium, *verified

#206 Adds a check when the bot disconnects due to inactivity to decide to send a message or not
  src/main/java/io/github/vhoyon/bot/utilities/music/AudioListener.java
Labels: !Enhancement: Commands, !Priority: Medium, *verified, ~music
